[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = "*"
django-graphiql = "*"
django-filter = "*"
django-phone-field = "*"
pillow = "*"
django-taggit = "*"
django-graphql-auth = "*"
django-graphql-jwt = "==0.3.0"
pyjwt = "==1.7.0"

[dev-packages]

[requires]
python_version = "3.9"
